name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build_matrix:
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-latest]
        
    runs-on: ${{ matrix.os }}
    env:
      app_name: calc_${{ matrix.os}}

    steps:
      - uses: actions/checkout@v3
      
      - name: Build
        run: g++ Source.cpp functions.cpp -o ${{ env.app_name}}
        
      - name: 'Upload a Build Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: |
            ${{ env.app_name }}**
            input.txt
          retention-days: 30


